---
all:
  hosts:
    vps-foo:
      ansible_ssh_host: 127.0.0.1
      ansible_ssh_user: ansible
      # ansible_python_interpreter: /usr/bin/python3
      # user variables for vps-foo:
      username: "alice"  # Überschreibt den Standardwert "foo"
      user_password_hash: "$6$rounds=656000$salz$hashed_password_here"  # REPLACE with YOUR Hash!
      user_ssh_key: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA..."  # REPLACE with YOUR SSH-Key
      delete_user_first: true  # Löscht den Benutzer vorher (optional)
  children:
    srv:
      hosts:
        vps-foo:
    cli:
      hosts:
        vps-foo:
